.row-fluid
  .expand-320
    %ul.nav.nav-tabs#tabs
      %li.active
        %a{:href => "#diagram-control", :'data-toggle' => "tab"} Förmågor
      %li
        %a{:href => "#diagram", :'data-toggle' => "tab"} Nyckel

.row-fluid
  .tab-content
    .span5#diagram-control.active
      %form{ :onsubmit => "$('#ability').trigger('autocompleteselect'); return false;"}
        %div
          .help{:'data-content' => "Namnet du vill ge din nyckel.",:'data-title' => "Nyckel namn", :'data-placement' => "right"} 
            .icon-info-sign
          %label{:for => "name" } Nyckel namn:
          %input#name{:type => "text", :name => "name", :tabindex => 1}
        %div
          .help{:'data-content' => "Här väljer du de konsult spår du vill tillhöra. Sedan klickar du på pluset för att lägga till bas förmågor för det konsultspåret.",:'data-title' => "Välj konsultspår", :'data-placement' => "right"} 
            .icon-info-sign
          %label{:for => "track" } Konsultspår:
          %div.input-append
            %select#track{:name => "track", :tabindex => 1}
              -@consultant_tracks.each do |track|
                %option{:value => track.id}=track.name
            %button#add_track.btn{:type => "button",:name => "add_track", :tabindex => 1} 
              &nbsp;
              .icon-plus
        %hr
        %div
          .help{:'data-content' => "Här väljer du det kompetensområde du vill lägga till en förmåga i. Sedan väljer du din förmåga genom att fylla i den och trycka på plus. Du kan välja förmågor i flera kompetensområden. Områdena är tillför att underlätta sökning. Tänk på att de förmågor du skapar senare blir endel av det området.",:'data-title' => "Välj område för din förmåga", :'data-placement' => "right"} 
            .icon-info-sign
          %label{:for => "area"} Kompetensområde:
          %select#area{:name => "area", :tabindex => 1}
            -if @areas
              -@areas.each do |area|
                %option{:value => area.id}=area.name
        %div
          .help{:'data-content' => "Skriv in en förmåga du är intresserad att av att disskutera med din chef. Tryck sedan på plus eller enter för att lägga till en förmågestapel.",:'data-title' => "Lägg till förmåga", :'data-placement' => "right"} 
            .icon-info-sign
          %label{:for => "ability"} Förmåga:
          %div.input-append
            %input#ability{:type => "text", :name => "ability", :tabindex => 1}    
            %button#add_ability.btn{:type => "submit" , :tabindex => 1} 
              &nbsp;
              .icon-plus
    
    .span7#diagram
      .diagram-holder
        .diagram-surface
          .diagram-area
      .diagram-legend
        %div
          .box#current-legend
          %span Nuvarande förmåga
        %div
          .box#target-legend
          %span Önskad förmåga
  
.row-fluid
  .span12
    %form
      -# TODO ajax call to save
      -# Message to verify
      %button.btn{:type => "button", :onclick => "saveKey();", :tabindex => 1} Spara
