.col5
  .blue_row
    %label Lägg till kompetensområde:
  %form{:action => "/area/", :method => "POST"}
    .input-append
      %input#area{:type => "text",:name => "name", :value => "#{@area}"}
      %button.btn{:type => "submit"} Lägg till
