.col5
  .blue_row
    %h2 Kompetensområden
  %ul.colored_list
    -@areas.each do |area|
      %li{:class => cycle('odd','even')}=area.name
  %button.btn{:type => "link", :onClick => "window.location.href='/admin/area'"} Lägg till kompetensområde
