%script{:type => "text/javascript", :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
%script{ :src => "http://d3js.org/d3.v3.min.js", :type => "text/javascript"}
%script{:type => "text/javascript", :src  => "/js/message.js"}
%script{:type => "text/javascript", :src  => "/external/js/jquery-ui-1.10.0.custom.min.js"}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/grid.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/styles.css'}
-if @message
  :javascript
    $(document).ready(function(){
      $('#cover').show();
    });

:javascript
  var usedTerms = [];
  function addTerm(term){
    $('#selected_terms').append('<div class="selected_term">'+term+'</div>')
  }

  function resetField(){
      $("#term").value = '';
      $(".ui-autocomplete").hide();
  }

  function useTerm(term){
    $.ajax({
      url: "/useTerm",
      type: "POST",
      dataType: "json",
      data: {
        term: term
      }
    }).done(function(data){
        if (data !== false) {
          addTerm(data);
          usedTerms.push(data)
        }
    }).complete(function(){
        resetField();
    }).error(function(){
      console.log("error");
    });
  }

  $(document).ready(function(){
    var auto = $("#term").autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/findTerm",
          type: "POST",
          dataType: "json",
          data: {
            term: request.term
          }
        }).done( function(data){ response(data);});
      },
      messages: {
        noResults: '',
        results: function(){}
      }, 
    });

    auto.on("autocompleteselect", function(event, ui) {
      if (typeof(ui) !== 'undefined') {
        term = ui.item.value.toLowerCase();
      } else {
        term = $("#term")[0].value.toLowerCase();
      }

      if ($.inArray(term, usedTerms) == -1) {
        useTerm(term);
      }
    });
  });
