// Styles
%meta{:name => "viewport", :content => "user-scalable=no, width=device-width, initial-scale=1.0"}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/external/css/bootstrap.min.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/external/css/bootstrap-responsive.min.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/styles.css'}
%script{:type => "text/javascript", :src  => "/js/ie-fix.js"}
