// Styles
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/external/css/bootstrap.min.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/external/css/bootstrap-responsive.min.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/styles.css'}
