.span4
  %form{ :onsubmit => "$('#ability').trigger('autocompleteselect'); return false;"}
    %div
      %label{:for => "track"} Välj Konsultspår:
      %select#track{:name => "track"}
        %option mekanik
        %option systemutvecking
        %option beräkning
    %div
      %label{:for => "area"} Välj kompetensområde:
      %select#area{:name => "area"}
        -@areas.each do |area|
          %option{:value => area.name}=area.name
    %div
      %label{:for => "ability"} Lägg till förmåga:
      %input#ability{:type => "text", :name => "ability"}    
      #selected_abilitys

.span8
  .diagram-surface
    .diagram-baseline
