.col4
  %form{ :onsubmit => "$('#term').trigger('autocompleteselect'); return false;"}
    %div
      %label{:for => "area"} V채lj kompetensomr책de:
      %select{:name => "area"}
        %option Testning
        %option Agilutveckling
        %option Projektledning
        %option Konstruktion
        %option Ber채kning
    %div
      %label{:for => "term"} L채gg till kompetens:
      %input#term{:type => "text", :name => "term"}    
      #selected_terms
