.col4
  %form{ :onsubmit => "$('#term').trigger('autocompleteselect'); return false;"}
    %div
      %label{:for => "area"} Välj kompetensområde:
      %select#area{:name => "area"}
        -@areas.each do |area|
          %option{:value => area.name}=area.name
    %div
      %label{:for => "term"} Lägg till kompetens:
      %input#term{:type => "text", :name => "term"}    
      #selected_terms
