.span4
  %form{ :onsubmit => "$('#ability').trigger('autocompleteselect'); return false;"}
    %div
      %label{:for => "area"} Välj kompetensområde:
      %select#area{:name => "area"}
        -@areas.each do |area|
          %option{:value => area.name}=area.name
    %div
      %label{:for => "ability"} Lägg till förmåga:
      %input#ability{:type => "text", :name => "ability"}    
      #selected_abilitys
