.span4
  %form{ :onsubmit => "$('#ability').trigger('autocompleteselect'); return false;"}
    %div
      %label{:for => "area"} Välj kompetensområde:
      %select#area{:name => "area"}
        -@areas.each do |area|
          %option{:value => area.name}=area.name
    %div
      %label{:for => "ability"} Lägg till förmåga:
      %input#ability{:type => "text", :name => "ability"}    
      #selected_abilitys

.span8
  .diagram-surface
    .diagram-baseline
      .combination-diagram
        .diagram.targetAbility.grey-5{:style => "height: 50%"}
        .diagram.currentAbility.cornflower{:style => "height: 30%; z-index: 10;"}
      .combination-diagram
        .diagram.targetAbility.grey-5{:style => "height: 40%"}
        .diagram.currentAbility.cornflower{:style => "height: 35%; z-index: 10;"}
