.col5
  .blue_row
    %h2 Mina nycklar
  %ul.item-list
    -@keys.each do |key|
      %li{:class => cycle('odd','even')}
        %span
          %a{:href => "/ability_key/key/#{key.id}"}=key.name
  %button.btn{:type => "link", :onClick => "window.location.href='/ability_key/key'", :tabindex => 1} Lägg till nyckel
