!!!
%html
  %head
    =haml :head
  %body
    .container
      .row-fluid#main-content
        #messageModal.modal.hide.fade{"aria-hidden" => "true", 
                               "aria-labelledby" => "myModalLabel", 
                               :role => "dialog", :tabindex => "-1"}=@message
        #header.row-fluid
          .navbar
            .navbar-inner
              %ul.nav
                -$MENU.each do |item|
                  %li{:class => item[:url] == request.path ? "active" : ""}
                    %a{:href => item[:url]}=item[:text]
        #content.row-fluid
          =yield

        #footer.row-fluid

        #scripts
          =haml :scripts
