!!!
%html
  %head
    =haml :head
  %body
    #cover
      #message_box
        =@message
    #bar.row
    #header.row
      .header_img
        .col12
          %img#logo{:src => "/img/combitech_logo.png"}
          %img{:src => "/img/dual_coaching.png"}
    #content.row
      =yield
    #footer.row
