!!!
%html
  %head
    =haml :head
  %body
    .container
      .row-fluid#main-content
        #messageModal.modal.hide.fade{"aria-hidden" => "true", 
                               "aria-labelledby" => "myModalLabel", 
                               :role => "dialog", :tabindex => "-1"}=@message
        #header.row-fluid
        #content.row-fluid
          =yield
        #footer.row-fluid
        #scripts
          =haml :scripts
