!!!
%html
  %head
    =haml :head
  %body
    .container
      .row-fluid#main-content
        #messageModal.modal.hide.fade{"aria-hidden" => "true", 
                               "aria-labelledby" => "myModalLabel", 
                               :role => "dialog", :tabindex => "-1"}=@message
        #header.row-fluid
          .navbar
            .navbar-inner
              %ul.nav
                -if @log
                  %li.active
                    %a{:href => "/"} Min nyckel
                  %li
                    %a{:href => "/area/list"} Administrera
                  %li
                    %a{:href => "#"} Inställingar
                  %li
                    %a{:href => "/logout"} Logga ut
        #content.row-fluid
          =yield

        #footer.row-fluid

        #scripts
          =haml :scripts
