!!!
%html
  %head
    =haml :head
  %body
    #cover
      .message
        =@message
    #bar.row
    #header.row
      .col12
        %img#logo{:src => "/img/combitech_logo.png"}
    #content.row
      =yield
    #footer.row
