!!!
%html
  %head
    =haml :head
  %body
    .container
      #header.row-fluid
        .navbar
          .navbar-inner
            .btn.btn-navbar{:'data-toggle' => "collapse", :'data-target' => ".nav-collapse" }
              .icon-align-justify
            .nav-collapse
              %ul.nav
                -$MENU.each do |item|
                  %li{:class => item[:url] == request.path ? "active" : ""}
                    %a{:href => item[:url]}=item[:text]
                -if @submenu
                  -@submenu.each do |item|
                    %li{:class => item[:url] == request.path ? "active" : ""}
                      %a{:href => item[:url]}=item[:text]
                -if session[:user]
                  %li
                    %a{:href => "/logout"} Logga ut

      .row-fluid#main-content
        .span12-fluid.padding
          #messageModal.modal.hide.fade{"aria-hidden" => "true", 
                                 "aria-labelledby" => "myModalLabel", 
                                 :role => "dialog", :tabindex => "-1"}=@message
          #content.row-fluid
            =yield

          #footer.row-fluid

          #scripts
            =haml :scripts
