%form{:method => "POST", :action => '/login'}
  %label{:for => "password"} Password
  %div.input-append
    %input{:name => "password", :type => "password"}
    %button#add_track.btn{:type => "submit"} Logga in
