//Javascript includes
%script{:type => "text/javascript", :src  => "/external/js/jquery-1.9.1.min.js"}
-#%script{:type => "text/javascript", :src =>  "/external/js/d3.v3.min.js" }
%script{:type => "text/javascript", :src  => "/external/js/jquery-ui-1.10.0.custom.min.js"}
%script{:type => "text/javascript", :src =>  "/external/js/bootstrap.min.js"}
%script{:type => "text/javascript", :src  => "/external/js/jquery.mobile.custom.min.js"}
-if @diagram
  %script{:type => "text/javascript", :src  => "/js/diagram-initiation.js"}
%script{:type => "text/javascript", :src  => "/js/message.js"}
%script{:type => "text/javascript", :src  => "/js/abilityhandler.js"}
%script{:type => "text/javascript", :src  => "/js/vslider.js"}

-# TODO move general java code to a common lib

:javascript
  // Translates a non tabbed page into a tabbed page
  function switchToTabs() {
    diagramContent = $("#diagram").removeClass("span7").addClass("tab-pane");
    diagramContent = $("#diagram-control").removeClass("span5").addClass("tab-pane");
  }
  // Translates a tabbed page to a non tabbed page
  function switchFromTabs() {
    diagramContent = $("#diagram").addClass("span7").removeClass("tab-pane");
    diagramContent = $("#diagram-control").addClass("span5").removeClass("tab-pane");
  }
  $(document).ready(function(){
    // Enable popovers
    $('.help').popover();
    $('.help').bind('vclick', function (e) {
      $('.help').not(this).popover('hide');
      e.stopPropagation()
    });
    $('body').bind('vclick', function (e) {
      $('.help').popover('hide');
    });
    
    // Function to consider if the window height should be split in to tabs for
    // better display
    function considerTabs(){
      if ($("body").width() <= 800) { if (!inTabState) {
          switchToTabs();
        }
        inTabState = true;
      } else {
        if (inTabState) {
          switchFromTabs();
        }
        inTabState = false;
      }
    }

    // Height to tab conversion for short screens
    var inTabState = false
    window.onresize = function () {considerTabs();}
    considerTabs();

  });

-# load diagram listners if the diagram variable is set
- if @diagram
  :javascript
    $(document).ready(function(){
      $.vmouse.moveDistanceThreshold = 2
    });

-# load message scripts fi there is a message in the message var
-if @message
  :javascript
    $(document).ready(function(){
      $("#messageModal").modal("show");
    });
