/Javascript includes
%script{:type => "text/javascript", :src  => "/external/js/jquery-1.9.1.min.js"}
-#%script{:type => "text/javascript", :src =>  "/external/js/d3.v3.min.js" }
%script{:type => "text/javascript", :src  => "/external/js/jquery-ui-1.10.0.custom.min.js"}
%script{:type => "text/javascript", :src =>  "/external/js/bootstrap.min.js"}
%script{:type => "text/javascript", :src  => "/external/js/jquery.mobile.custom.min.js"}
-if @diagram
  %script{:type => "text/javascript", :src  => "/js/diagram-initiation.js"}
%script{:type => "text/javascript", :src  => "/js/message.js"}
%script{:type => "text/javascript", :src  => "/js/abilityhandler.js"}
%script{:type => "text/javascript", :src  => "/js/vslider.js"}

-# TODO move general java code to a common lib

:javascript
  $(document).ready(function(){
    $('.help').popover();
    $('.help').bind('vclick', function (e) {
      $('.help').not(this).popover('hide');
      e.stopPropagation()
    });
    $('body').bind('vclick', function (e) {
      $('.help').popover('hide');
    });
  });
- if @diagram
  :javascript
    $(document).ready(function(){
      $.vmouse.moveDistanceThreshold = 2
      $(".diagram-area")[0].addEventListener('touchmove', function(e){ e.preventDefault(); });
    });
-if @message
  :javascript
    $(document).ready(function(){
      $("#messageModal").modal("show");
    });
