$white              :    #FFFFFF
$grey-e             :    #eeeeee
$grey-c             :    #cccccc
$grey-a             :    #aaaaaa
$grey-9             :    #999999
$grey-6             :    #666666
$grey-5             :    #555555
$grey-3             :    #333333
$black              :    #000000
$combitech          :    #063a70
$dodger-blue        :    #1E90FF
$cornflower-blue    :    #6495ED
