@import "color"

body 
  font-family: Arial, Sans-Serif
  background-image: url('/img/webtreats-paper-pattern-1-grey.jpg')

#header

#main-content
  margin-top: 2em
  padding: 2em
  background-color: $white
  min-height: 20em
  border-radius: 0.5em
