@import "color"

@mixin shadow ($color)
  -moz-box-shadow: 3px 3px 4px $color
  -webkit-box-shadow: 3px 3px 4px $color
  box-shadow: 3px 3px 4px $color 
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000') 

body 
  font-family: Arial, Sans-Serif
  background-image: url('/img/webtreats-paper-pattern-1-grey.jpg')

li
  list-style: none

ul
  margin: 1em 0

.odd
  background-color: $grey-e

#main-content
  margin-top: 2em
  padding: 2em
  background-color: $white
  min-height: 20em
  border-radius: 0.5em

.ui-menu
  display: block
  padding: 0.5em
  max-width: 22em
  border: 1px solid $grey-c
  border-radius: 4px
  background-color: $white

.ui-state-focus
  color: $white
  background-color: $combitech

.ui-menu-item
  a
    border-radius: 4px
    display: inline-block
    width: 21em
    text-decoration: none
    padding: 0.5em
  
  a:hover
    color: $white

.selected_ability
  background-color: $combitech
  color: $white
  @include shadow($grey-c)
  padding: 0.5em
  border-radius: 5px
  margin-bottom: 0.5em
  font-weight: bold

.diagram-surface
  -moz-user-select: -moz-none
  -khtml-user-select: none
  -webkit-user-select: none
  user-select: none
  height: 500px
  margin-bottom: 20px
  background-color: #f7f7f7
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
  padding: 3em

.diagram-baseline
  border-left: 2px solid $grey-c
  border-bottom: 2px solid $grey-c
  height: 80%

.diagram
  display: inline-block
  height: 0%
  width: 25px
  margin: 0 1em
  -webkit-box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.1)
  box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.1)

.combination-diagram
  display: inline-block
  height: 100%
  width: 25px
  margin: 0 1em
  position: relative

  .diagram
    margin: 0
    position: absolute
    bottom: 0 
    height: 0%

.diagram-legend
  margin-bottom: 20px
  background-color: #f7f7f7
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
  padding: 3em

.diagram-label
  cursor: default
  -webkit-transform: rotate(90deg)
  -moz-transform: rotate(90deg)
  width: 0
  position: absolute
  z-index: 10
  font-size: 0.85em
  bottom: -2em
  left: 0.9em
  overflow: visible
  white-space: nowrap

.cornflower
  background-color: $cornflower-blue

.dodger
  background-color: $dodger-blue

.grey-5
  background-color: $grey-5

.vslider
  position: relative
  top: -9px
  height: 7px
  border-bottom: 2px solid $white
  cursor: move
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  background: $grey-3

.vslider:hover
  background: $white

.currentAbility
  position: absolute
  z-index: 1000
