@import "color"

@mixin shadow ($color)
  -moz-box-shadow: 3px 3px 4px $color
  -webkit-box-shadow: 3px 3px 4px $color
  box-shadow: 3px 3px 4px $color 
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000') 

body 
  font-family: Arial, Sans-Serif
  background-image: url('/img/background.jpg')
  overflow-y: scroll
  padding-bottom: 2em

ul.item-list
  margin: 1em 0

.ui-autocomplete
  li
    list-style: none

.odd, .even
  list-style: none

.odd , .even
  padding: 0.5em

.odd
  background-color: $grey-e

.expand-320
  display: none

#main-content
  background-color: $white
  border-radius: 4px
  @include shadow($grey-5)
  margin-top: 1em

.padding
  padding: 2em

.ui-menu
  display: block
  padding: 0.5em
  max-width: 22em
  border: 1px solid $grey-c
  border-radius: 4px
  background-color: $white

.ui-state-focus
  color: $white
  background-color: $combitech

.ui-menu-item
  a
    border-radius: 4px
    display: inline-block
    width: 21em
    text-decoration: none
    padding: 0.5em
  
  a:hover
    color: $white

.selected_ability
  background-color: $combitech
  color: $white
  @include shadow($grey-c)
  padding: 0.5em
  border-radius: 4px
  margin-bottom: 0.5em
  font-weight: bold

.diagram-holder
  position: relative
  -moz-user-select: -moz-none
  -khtml-user-select: none
  -webkit-user-select: none
  user-select: none
  margin-bottom: 20px
  @include shadow($grey-c)
  background-color: #f7f7f7
  border-radius: 4px
  padding: 1.5em
  height: 20em
  overflow: hidden

.diagram-surface
  height: 100%
  overflow-x: auto

.diagram-area
  height: 50%
  border-bottom: 2px solid $grey-c
  white-space: nowrap
  width: 5000px

.diagram
  display: inline-block
  height: 0%
  width: 2em
  margin: 0 0.25em
  @include shadow($grey-c)

.arrows
  position: absolute 
  width: 100%
  bottom: 0px
  left: 0px
  z-index: 12

.scroller
  position: absolute 
  z-index: 10
  width: 100%
  bottom: 0px
  left: 0px

.left-arrow
  float: left

.scroll-base, .scoll-location, .scroll-arrow
  height: 1.5em

.scroll-base
  background-color: $grey-c
  width: 100%

.scroll-location
  position: absolute
  left: 1.5em
  z-index: 11
  height: 1.5em
  background-color: $grey-5
  width: 10%

.icon-chevron-right, .icon-chevron-left
  margin: 0.25em

.scroll-arrow
  width: 1.5em
  background-color: $grey-9

.scroll-arrow:hover
  width: 3.5%
  background-color: $white
  cursor: pointer

.right-arrow
  float: right

.combination-diagram
  white-space: nowrap
  display: inline-block
  height: 100%
  width: 25px
  margin: 0 1em
  position: relative

  .diagram
    margin: 0
    position: absolute
    bottom: 0 
    height: 0%

.diagram-legend
  margin-bottom: 20px
  border-radius: 4px
  padding: 1.5em

#current-legend
  background-color: $cornflower-blue
  
#target-legend
  background-color: $grey-5

.box
  @include shadow($grey-c)
  display: inline-block
  width: 1.0em
  height: 1.0em
  margin-right: 1em
  border-radius: 4px
  border: 3px solid $grey-3
  padding: 0

.diagram-label
  cursor: default
  transform: rotate(45deg)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  width: 0
  position: absolute
  z-index: 10
  font-size: 0.85em
  bottom: -5em
  left: 0.975em
  overflow: visible
  white-space: nowrap

.cornflower
  background-color: $cornflower-blue

.dodger
  background-color: $dodger-blue

.grey-6 
  background-color: $grey-6

.vslider
  position: relative
  top: -12px
  height: 13px
  border-bottom: 2px solid $white
  cursor: move 
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  background: $grey-3

.vslider:hover
  background: $white
.vslider-hover
  background: $white

.currentAbility
  position: absolute
  z-index: 1000

.remove-button
  position: absolute
  z-index: 10
  padding: 0.5em
  font-size: 0.85em
  bottom: -3em
  left: 0.165em
  overflow: visible
  cursor: pointer

.remove-button:hover
  background-color: $red

.add 
  display: inline-block
  padding: 0.25em
  padding-top: 0.20em
  padding-bottom: 0.30em
  border-radius: 4px

.help
  cursor: pointer
  display: inline-block
  float: left
  margin-right: 0.25em

.navbar .btn, .navbar .btn-navbar, .navbar .btn:hover, .navbar .btn-navbar:hover
  background-color: rgba(0,0,0,0)
  background-image: none
  border-radius: none
  border: none
  
#header .navbar, #header .navbar .navbar-inner, .navbar, .navbar-inner
  border-top-left-radius: 0
  border-top-right-radius: 0

#header .navbar
  @include shadow($grey-5)

@media only screen and (max-width: 320px) 
  body
    padding: 0
  
  #main-content
    border-radius: 0
    margin-top: 0.5em
    border-top-left-radius: 4px
    border-top-right-radius: 4px

  .padding
    padding: 0.75em

  select, input, input[type="text"]
    width: 8em

@media only screen and (max-width: 800px) 
  .expand-320
    display: inline-block

  h2
    font-size: 1.2em
  
  select, input, input[type="text"]
    width: 12em

// Fixing Microsoft IE10 bug
@-ms-viewport
  width: device-width
